<div class="main-content">
    <div class="row no-gutters">
        <div class="col">
            <div class="img-bg-content">
                <div class="img-bg">
                    <img src="https://www.ecopetit.cat/wpic/mpic/0-5546_iron-man-3-tony-stark-uhd-4k-wallpaper.jpg" alt="bg">
                </div>
                <div class="gradient"></div>
            </div>
        </div>
        <div class="col-2">
            <div class="login-form-content">
                <div class="login-form">
                    <input type="text">
                    <br>
                    <input type="text">
                    <br>
                    <div class="btn btn-primary" (click)="doLogin()">Entrar</div>
                </div>
            </div>
        </div>
    </div>
</div>